.blogContainer{
    height: 80vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.blogContent{
    display: flex;
    justify-content: space-around;
}

.article{
    width: 35%;
    height: 100%;
    background-color: rgba(169, 224, 155, 0.794);
    padding: 25px;
    border-radius: 10px;
}