{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="assets/css/blog.css">{% endblock %}

{% block body %}


<div class="blogContainer">
    <div class="blogContent">
        <div class="article">
            <img src="http://placehold.it/350x150" alt="">
            <h1>Assurance</h1>
            <div class="metadata">Ecrit le 16/04/2020 à 12:00 dans la catégorie Nouveauté</div>
            <div class="content">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <a href= "{{ path('blog_show') }}" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
        <div class="article">
            <img src="http://placehold.it/350x150" alt="">
            <h1>Moto</h1>
            <div class="metadata">Ecrit le 16/04/2020 à 12:00 dans la catégorie Nouveauté</div>
            <div class="content">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <a href= "{{ path('blog_show') }}" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
        <div class="article">
            <img src="http://placehold.it/350x150" alt="">
            <h1>FAQ</h1>
            <div class="metadata">Ecrit le 16/04/2020 à 12:00 dans la catégorie Nouveauté</div>
            <div class="content">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <a href= "{{ path('blog_show') }}" class="btn btn-primary">En savoir plus</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
